@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3d3d3d;
}

$white: #fff;
$black: #000;

$color_1: #3d3d3d;
$bg_color_1: #f6f5f4;

.email-button {
  background-color: transparent;
  border: 3px solid $color_1;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.3em 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-weight: 700;
  .text {
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: $color_1;
  }
  .top-key {
    height: 3px;
    width: 1.5625rem;
    top: -3px;
    left: 0.625rem;
    position: absolute;
    background: $bg_color_1;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  .bottom-key-1 {
    height: 3px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -3px;
    position: absolute;
    background: $bg_color_1;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  .bottom-key-2 {
    height: 3px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -3px;
    position: absolute;
    background: $bg_color_1;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  &:hover {
    color: $white;
    background: $color_1;
    .text {
      color: $white;
      font-weight: 700;
    }
    .top-key {
      left: -3px;
      width: 0px;
    }
    .bottom-key-1 {
      right: 0;
      width: 0;
    }
    .bottom-key-2 {
      right: 0;
      width: 0;
    }
  }
}
