@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3d3d3d;
}

$white: #fff;
$black: #000;

$color_1: #3d3d3d;
$bg_color_1: #f6f5f4;

.email-button {
  background-color: #f6f5f499;
  border: 3px solid $color_1;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.3em 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-weight: 700;
  .text {
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: $color_1;
  }
  &:hover {
    color: $white;
    background: $color_1;
    .text {
      color: $white;
      font-weight: 700;
    }
  }
}
